body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(140deg , goldenrod , pink);
}



.question{
    color: rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

button{
    padding:  10px 35px;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 2em;
    margin: 10px;
}

/*based on the condition */
.yes{
    background-color: green;

}
.no{
    background-color: red;
}
.yes:hover{
    background-color: rgba(0, 255, 0, 0.653);
    transition: all 0.3s ease;
}
.no:hover{
    transition: all 0.3s ease;
    background-color: rgb(124, 0, 0);
}

.special{
    position: absolute;
    transition: 0.5;
}

#stop{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 20px red;
    display: none;
}

